# Bỏ qua tất cả các file mặc định
*

!*/

!*.py
!.gitignore
!README.md

.venv/
venv/
env/
__pycache__/
*.pyc
.env

Archive/
data/
data1/
data_raw/
dataset/
Tien_real_images/
kie_data/
preprocessor/
rotation_corrector/
rotation_corrector_kie/
text_detector/
text_recognition_mcocr_data/
test_images/
train_images/
val_images/
train_resized/
val_resized/
donut_checkpoints/
donut_result/
Fix_label/
Train_data/

*.csv
*.json
*.jsonl
*.txt
*.bak
*.safetensors
*.pt
*.pth
*.jpg
*.jpeg
*.png
*.zip
*.rar
*.log